* {
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  color: white;
  font-size: 35px;
  text-align: center;
  font-family: 'Poiret One', cursive;
}

body {
        font-family: 'Poiret One', cursive !important;
        font-size: 48px;
      }
